# Dependencies
node_modules/
jspm_packages/

# Environment Variables and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
mongo-data/
mongo-log/
*.pid
*.seed
*.pid.lock

# Build and Output Directories (TypeScript / Babel)
dist/
build/
lib-cov
coverage
.nyc_output

# Testing
.jest/
coverage/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
